<form action="/contacts" method="POST" role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <textarea name="text" class="form-control" rows="3"></textarea>
  <!--<button type="submit" class="btn btn-primary">Отправить</button>-->
  <br>
  <input type="submit" />
</form>
