<%#= @results %>

<table class="table table-striped">
	<thead>
		<th>Имя</th>
		<th>Телефон</th>
		<th>Дата записи</th>
		<th>Парикмахер</th>
	</thead>

	<tbody>
		<% @results.each do |row| %>
			<tr>
				<td><%= row['Name'] %></td>
				<td><%= row['Phone'] %></td>
				<td><%= row['DataStamp'] %></td>
				<td><%= row['Barber'] %></td>
			</tr>
		<% end %>
	</tbody>

</table>